<!-- styles -->

<link rel="stylesheet" href=<%= app_function %>/assets/css/styles.css?=140>

<!-- js -->
<script type='text/javascript' src=<%= app_function %>/assets/js/jquery-1.10.2.min.js></script>
<script ype='text/javascript' src=<%= app_function %>/assets/js/jqueryui-1.10.3.min.js></script>
<script type='text/javascript' src=<%= app_function %>/assets/js/bootstrap.min.js></script>

<nav class="navbar navbar-default">
    <div class="container">
    <ul class="nav navbar-nav">
        <li><a href=<%= app_function %>/home> Home</a></li>
        <li><a href=<%= app_function %>/user> User</a></li>
    </ul>
  </div>
</nav>
<br>
